{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "window": true,
    "document": false,
    "describe": false,
    "it": false
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "import/prefer-default-export": "off",
    "no-duplicate-imports": "off",
    "new-cap": "off"
  }
}
