{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "window": false,
    "document": false,
    "performance": false,
    "describe": false,
    "it": false
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "import/no-unresolved": ["off", { ignore: ['Editor$', 'Game$', 'App$'] }],
    "no-duplicate-imports": "off",
    "new-cap": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "_" }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-multi-spaces": "off",
    "brace-style": ["error", "stroustrup"],
    "react/no-unused-prop-types": ["error", { skipShapeProps: true }]
  }
}
